<header role="banner" class="pushdown-10">
        <div class="grid header-wrapper">
            <div class="grid__cell u-1/3--medium u-1/3--large">
                <a href="/"><img src="/img/furry_img_380.jpg" alt="title furry logic" class="logo responsive pushdown-10" /></a>
            </div><!--
            --><div class="grid__cell u-2/3--medium u-2/3--large">
                <img src="/img/tagline2.jpg" title="The Physics of Animal life" alt="physics of animals tagline" class="tagline responsive pushdown-10" />
                <h2 class="authors">Matin Durrani and Liz Kalaugher</h2>

                <nav role="navigation" class="main-nav">
                    <div class="grid">
                        <div class="grid__cell u-1/1 u-2/3--large">
                            <ul class="grid">
                                <li class="grid__cell u-1/2 u-1/4--medium u-1/2--large">
                                    <div class="nav__item flex--centered blue <?php if (isActive('about', $page)) {echo 'active';}?>"><a href="/about/">About the book</a></div>
                                </li><!--
                                --><li class="grid__cell u-1/2 u-1/4--medium u-1/2--large">
                                    <div class="nav__item flex--centered green <?php if (isActive('samples', $page)) {echo 'active';}?>"><a href="/samples/">Sample Chapter</a>
                                </li><!--
                                --><li class="grid__cell u-1/2 u-1/4--medium u-1/2--large">
                                    <div class="nav__item flex--centered pink <?php if (isActive('animal-stories', $page)) {echo 'active';}?>"><a href="/animal-stories/">Animal stories</a></div>
                                </li><!--
                                --><li class="grid__cell u-1/2 u-1/4--medium u-1/2--large">
                                    <div class="nav__item flex--centered dark-yellow <?php if (isActive('where-to-buy', $page)) {echo 'active';}?>"><a href="/where-to-buy/">Where to buy</a></div>
                                </li>
                            </ul>
                        </div><!--
                        --><div class="grid__cell u-1/1 u-1/3--large">
                        &nbsp;
                        </div>
                    </div>
                </nav>

            </div>
        </div>
    </header>
