---
layout: subnav
---

<div class="main-content">
    <h2 id="about-book" class="about">{{ page.about_book_heading }}</h2>
        {{ content }}
        <p>&nbsp;</p>
<h2 id="about-authors" class="about">{{ page.about_authors_heading }}</h2>
    <p><img src="/img/liz.jpg" height="118" width="117" class="profile" alt="Photo Liz Kalaugher"><strong>Liz Kalaugher</strong></p>
{{ page.about_liz_text | markdownify }}
<p>&nbsp;</p>
<p><img src="/img/matin.jpg" height="118" width="117" class="profile" alt="Photo Matin Durrani"><strong>Matin Durrani</strong></p>
{{ page.about_matin_text | markdownify }}
<p>&nbsp;</p>
<h2 id="chapters" class="about">Contents</h2>
<h3>CHAPTER ONE</h3>
<p class="pushdown-20"><em>Heat: The Warm-up Chapter</em><br />
Gender-swapping snakes <span class="chapter-divider">&diams;
</span> Floppy-skinned dogs <span class="chapter-divider">&diams;
</span>
Mosquitoes that wee blood <span class="chapter-divider">&diams;
</span> Killer bees <span class="chapter-divider">&diams;
</span> Hot-tailed
squirrels <span class="chapter-divider">&diams;
</span> Vipers that "see" heat <span class="chapter-divider">&diams;
</span> Beetles that "hear"
infrared</p>

<h3>CHAPTER TWO</h3>
<p class="pushdown-20"><em>Forces: The Big Push</em><br />
A light-headed dragon <span class="chapter-divider">&diams;
</span> Raindrop-dodging mosquitoes
<span class="chapter-divider">&diams;
</span> A shrimp that punches above its weight <span class="chapter-divider">&diams;
</span> The world's
fastest animals <span class="chapter-divider">&diams;
</span> A snappy ant <span class="chapter-divider">&diams;
</span> The lizard that thinks
it's Spiderman</p>

<h3>CHAPTER THREE</h3>
<p class="pushdown-20"><em>Fluids: When Things Get Stickier</em><br />
Pond skaters that walk on water <span class="chapter-divider">&diams;
</span> Cats defying
gravity <span class="chapter-divider">&diams;
</span> Stealth seahorses <span class="chapter-divider">&diams;
</span> Convention-defying
bees <span class="chapter-divider">&diams;
</span> Pterosaurs on the edge</p>

<h3>CHAPTER FOUR</h3>
<p class="pushdown-20"><em>Sound: Good Vibrations</em><br />
Seductive peacocks <span class="chapter-divider">&diams;
</span> The battle of the bats <span class="chapter-divider">&diams;
</span> Snakes
with killer hearing <span class="chapter-divider">&diams;
</span> Triangulating elephants <span class="chapter-divider">&diams;
</span>
Lobster violins</p>

<h3>CHAPTER FIVE</h3>
<p class="pushdown-20"><em>Electricity and Magnetism: Let the Sparks Fly</em><br />
Taser eels <span class="chapter-divider">&diams;
</span> The case of the charged bees <span class="chapter-divider">&diams;
</span> Turtles
that loop the Atlantic <span class="chapter-divider">&diams;
</span> Hornets skilled in quantum
mechanics</p>

<h3>CHAPTER SIX</h3>
<p class="pushdown-20"><em>Light: A Final Physics Fandango</em><br />
Ants and bees that use a trick of the light <span class="chapter-divider">&diams;
</span> Flashy
cuckoos <span class="chapter-divider">&diams;
</span> Deadly spitting fish <span class="chapter-divider">&diams;
</span> Underwater
chameleons <span class="chapter-divider">&diams;
</span> The squid with the giant eyes</p>
<p>&nbsp;</p>
 <p class="arrow-right"><a href="/where-to-buy">Where to buy</a></p>
 <p>&nbsp;</p>
            </div>
        </div>
    </div>
<p>&nbsp;</p>
<p>&nbsp;</p>